  /*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */

body {
    background: white;

  }
  
  h1 {
    font-size: 40px;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
  h2 {
    font-size: 28px;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold; 
    text-decoration: underline;
  }

  h3 {
    font-size: 20px;
    color: #0eb180;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
  h4 {
    font-size: 55px;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 200px;
    text-decoration: underline;
  }

  h5 {
    font-size: 55px;
    color: silver;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 200px;
    text-decoration: underline;
  }

  h6 {
    font-size: 55px;
    color: rgb(231, 228, 228);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-left: 150px;
    text-decoration: underline;
  }


footer {
    display: block;
    background: #5f5e5e;
    margin-top: 30px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
    height: 40px;
    background: lightgray;
  }

p {
  color: black;  
}

img {
  height: 550px;
  width: 550px;
  margin-left: 20px;
  margin-bottom: 10px;
}


.row {
  margin-top: 75px;

}




/* Selecting elements by ID */
  
  #title {
    background: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
  }
  
  #box-1 {
    background: white;
    margin-top: 50px;

  }
  
  #box-2 {
    background: white;
    margin-top: 70px;
  }
  
  #box-3 {
    background: white;
    margin-top: 50px;
  }

  #box-4 {
    background: white;
    margin-top: 50px;
  }
  
  #row-1 {
    margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background: black;
  }
  
  #row-2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: black;
}

#row-3 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: black;
}

#row-4 {
margin-left: auto;
margin-right: auto;
display: block;
background: black;
margin-bottom: 80px;
}

#navbarDropdown {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#container-1 {
  overflow: scroll;
}

#container-2 {
  overflow: scroll;
}

#container-3 {
  overflow: scroll;
}

#container-4 {
  overflow: scroll;
}

#header {
  text-decoration: underline;
  margin-top: 5px;
}

#navbarDropdown2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 25px;
}

#menu2 {
  margin-left: 72px;
}

#rnn {
  font-weight: bold;
  font-size: 20px;
  color: gold;
  text-decoration: underline;
  margin-left: 25px;
}

#rf {
  font-weight: bold;
  font-size: 20px;
  color: gold;
  text-decoration: underline;
  margin-left: 52px;
}

#rnn-2 {
  font-weight: bold;
  font-size: 20px;
  color: silver;
  text-decoration: underline;
  margin-left: 25px;
}

#rf-2 {
  font-weight: bold;
  font-size: 20px;
  color: silver;
  text-decoration: underline;
  margin-left: 52px;
}

#rnn-3 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(231, 228, 228);
  text-decoration: underline;
  margin-left: 25px;
}

#rf-3 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(231, 228, 228);
  text-decoration: underline;
  margin-left: 52px;
}

#rnn-4 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(175, 171, 171);
  text-decoration: underline;
  margin-left: 25px;
}

#rf-4 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(175, 171, 171);
  text-decoration: underline;
  margin-left: 52px;
}

#h6-2 {
  font-size: 55px;
  color: rgb(175, 171, 171);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-left: 150px;
  text-decoration: underline;
}


  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  
